PORT=8000
MONGO_URI=mongodb+srv://saurabhchaurasiya447:Saurabh123@cluster0.oiuvyjf.mongodb.net/videotube?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=dsalkfjirofldksnvmcvn3d21svc23sag50cxvasda35
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=skaldfaskvcmvasjr54
REFRESH_TOKEN_EXPIRY=10d